@model Hoard.WebUI.Services.ViewModels.Game.GameCreateUpdate.GameCreateViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-row">
    <div class="form-group col-lg-6">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group col-lg-6">
        <label asp-for="AlternateTitle" class="control-label"></label>
        <input asp-for="AlternateTitle" class="form-control" />
        <span asp-validation-for="AlternateTitle" class="text-danger"></span>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-4">
        <label asp-for="PlatformID" class="control-label"></label>
        <select asp-for="PlatformID" asp-items="Model.PlatformSelectList" class="form-control">
            <option value="">Select a platform</option>
        </select>
        <span asp-validation-for="PlatformID" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="ReleaseDate" class="control-label"></label>
        <input asp-for="ReleaseDate" class="form-control" />
        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="LanguageID" class="control-label"></label>
        <select asp-for="LanguageID" asp-items="Model.LanguageSelectList" class="form-control">
            <option value="">Select a language</option>
        </select>
        <span asp-validation-for="LanguageID" class="text-danger"></span>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-lg-6">
        <label asp-for="GenreIDs" class="control-label"></label>
        <select asp-for="GenreIDs" asp-items="Model.GenreSelectList" multiple class="form-control"></select>
        <span asp-validation-for="GenreIDs" class="text-danger"></span>
    </div>
    <div class="form-group col-lg-6">
        <label  asp-for="SeriesIDs" class="control-label"></label>
        <select asp-for="SeriesIDs" asp-items="Model.SeriesSelectList" multiple class="form-control"></select>
        <span asp-validation-for="SeriesIDs" class="text-danger"></span>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-lg-6">
        <label asp-for="ModeIDs" class="control-label"></label>
        <select asp-for="ModeIDs" asp-items="Model.ModeSelectList" multiple class="form-control"></select>
        <span asp-validation-for="ModeIDs" class="text-danger"></span>
    </div>
    <div class="form-group col-lg-6">
        <label asp-for="MediaTypeID" class="control-label"></label>
        <select asp-for="MediaTypeID" asp-items="Model.MediaTypeSelectList" class="form-control">
            <option value="">Select a type</option>
        </select>
        <span asp-validation-for="MediaTypeID" class="text-danger"></span>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-lg-6">
        <label asp-for="DeveloperIDs" class="control-label"></label>
        <select asp-for="DeveloperIDs" asp-items="Model.DeveloperSelectList" multiple class="form-control"></select>
        <span asp-validation-for="DeveloperIDs" class="text-danger"></span>
    </div>
    <div class="form-group col-lg-6">
        <label asp-for="PublisherIDs" class="control-label"></label>
        <select asp-for="PublisherIDs" asp-items="Model.PublisherSelectList" multiple class="form-control"></select>
        <span asp-validation-for="PublisherIDs" class="text-danger"></span>
    </div>
</div>

<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <textarea asp-for="Description" class="form-control" rows="10"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
