
@{
    ViewData["Title"] = "404";
}

<div class="d-flex justify-content-center" style="height: 80vh;">
    <div class="align-self-center">
        <h1>404.</h1>
        <h2>Kanna ate your page. Please try again.</h2>
        <img src="~/images/kanna.gif" alt="Animated gif of Kanna eating everything." />
    </div>
    
</div>


