@model Hoard.WebUI.Services.ViewModels.Journal.CreateUpdate.JournalCreateViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-row">
    <div class="form-group col-lg-4">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group col-lg-8">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        <label asp-for="GameIDs" class="control-label"></label>
        <select asp-for="GameIDs" asp-items="Model.GameSelectList" multiple class="form-control"></select>
        <span asp-validation-for="GameIDs" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="TagIDs" class="control-label"></label>
        <select asp-for="TagIDs" asp-items="Model.TagSelectList" multiple class="form-control"></select>
        <span asp-validation-for="TagIDs" class="text-danger"></span>
    </div>
</div>

<div class="form-group">
    <label asp-for="Content" class="control-label"></label>
    <textarea asp-for="Content" class="form-control" rows="20"></textarea>
    <span asp-validation-for="Content" class="text-danger"></span>
</div>

<input type="hidden" asp-for="HoarderID" />
