@model Hoard.WebUI.Services.ViewModels.Game.PlayDataUpdate.PlayDataUpdateViewModel

<div class="modal-header">
    <h5 class="modal-title">Editing play data</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="Edit" class="modal-form">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="PriorityID" class="control-label"></label>
                <select asp-for="PriorityID" asp-items="Model.PrioritySelectList" class="form-control">
                    <option value="">Select a priority</option>
                </select>
                <span asp-validation-for="PriorityID" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="OwnershipStatusID" class="control-label"></label>
                <select asp-for="OwnershipStatusID" asp-items="Model.OwnershipStatusSelectList" class="form-control">
                    <option value="">Select a status</option>
                </select>
                <span asp-validation-for="OwnershipStatusID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6">
                <div class="form-check-inline">
                    <input class="form-check-input" asp-for="Dropped" />
                    <label class="form-check-label" asp-for="Dropped"></label>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <div class="form-check-inline">
                    <input class="form-check-input" asp-for="AchievementsCompleted" />
                    <label class="form-check-label" asp-for="AchievementsCompleted"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Rating" class="control-label"></label>
            <input asp-for="Rating" class="form-control" step="0.5" />
            <span asp-validation-for="Rating" class="text-danger"></span>
        </div>
        <div class="form-group">
            <p class="row">
                <span class="col-lg-6">
                    <b>0. Irredeemable garbage,</b> unplayable <br />
                    <b>1. Trash,</b> no redeeming qualities <br />
                    <b>2. Very bad,</b> with maybe one or two interesting bits <br />
                    <b>3. Bad,</b> if you try really hard you might find some fun parts <br />
                    <b>4. Playable,</b> not fun but it has some interesting elements <br />
                    <b>5. Neutral,</b> not enjoyable but not horrible either <br />
                </span>
                <span class="col-lg-6">
                    <b>6. Enjoyable,</b> major flaws that don't quite ruin the experience <br />
                    <b>7. Good,</b> several annoyances <br />
                    <b>8. Great,</b> several minor flaws <br />
                    <b>9. Almost perfect,</b> one or two easily ignorable flaws <br />
                    <b>10. Flawless,</b> all-time favourite <br />
                </span>
            </p>
        </div>
        <div class="form-group">
            <label asp-for="Notes" class="control-label"></label>
            <textarea asp-for="Notes" class="form-control" rows="10"></textarea>
            <span asp-validation-for="Notes" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="GameID" />
        <input type="hidden" asp-for="HoarderID" />
    </div>
    <div class="modal-footer">
        <div class="form-group" style="margin-bottom: 0px;">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-success" value="Save" />
        </div>
    </div>
</form>