@model Hoard.WebUI.Services.ViewModels.Game.Playthrough.PlaythroughCreateUpdateViewModel

<div class="modal-header">
    <h5 class="modal-title">Adding playthrough</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="CreatePlaythrough" class="modal-form">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="OrdinalNumber" class="control-label"></label>
            <input asp-for="OrdinalNumber" class="form-control" step="1"/>
            <span asp-validation-for="OrdinalNumber" class="text-danger"></span>
        </div>
        <partial name="_PlaythroughCreateUpdateFormPartial" />
        <input type="hidden" asp-for="PlayDataID" />
    </div>
    <div class="modal-footer">
        <div class="form-group" style="margin-bottom: 0px;">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-success" value="Save" />
        </div>
    </div>
</form>

